{% extends 'PuntoVentaBundle:tipoCambio:main.html.twig' %}

{% form_theme form '::fields.html.twig' %}

{% block body -%}
   <div id="section-title-div"> 
        <label id="section-title">I.V.A.</label>
    </div>
    <span>Actual: {{ latest.iva|number_format(2, '.', ',') }} %</span>
    <a href="{{ path('iva') }}">
            ( Historial )
        </a>

    <form action="{{ path('iva_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <input type="submit" value="Actualizar" />
        </p>
    </form>
{% endblock %}
