<table>
    <tr>
        <td>{{ form_label(cliente.nombre) }}</td>
        <td>{{ form_widget(cliente.nombre) }}</td>
        <td>{{ form_label(cliente.telefono) }}</td>
        <td>{{ form_widget(cliente.telefono) }}</td>
        <td><input type="submit" value="Buscar" /></td>
    </tr>
    <tr>                   
        <td>{{ form_label(cliente.direccion) }}</td>
        <td>{{ form_widget(cliente.direccion) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
