{% extends '::base.html.twig' %}

{%  if venta is defined %}
    {% form_theme venta '::fields.html.twig' %}
{% endif %}


{% block javascripts %}
    {{ parent() }}

<script type="text/javascript">
    {%  if clienteId is defined %}
        var clienteId = {{ clienteId }};
    {% endif %}
</script>


{% endblock %}


{% block body -%}
    <div id="section-title-div"> 
        <label id="section-title">Venta</label>
    </div>     

    <form action="{{ path('venta_create') }}" method="post" {{ form_enctype(venta) }}>

        <span class="subTitle">Cliente</span>


            {% include 'PuntoVentaBundle:Cliente:searchCliente.html.twig'
                 with {'cliente': venta.cliente} %}
        <div class="bottomBorderDiv"></div>
           

            {% include 'PuntoVentaBundle:Venta:ventaUnitariaTable.html.twig'
                with {'ventasUnitarias': venta.ventasUnitarias} %}


        <div class="bottomBorderDiv"></div>

             {% include 'PuntoVentaBundle:Venta:ventaTotal.html.twig'
                with {'venta': venta} %}

        <input type="submit" value="Registrar" />
        {{ form_widget(venta._token) }}
    </form>
{% endblock %}
