{% block javascripts %}

<script type="text/javascript">
    var ajaxAddUnitSaleUrl = "{{ path('ventaunitaria_new') }}";
    var deleteIcoPath = "{{ asset('bundles/puntoventa/images/delete.ico') }}";
</script>
<script type="text/javascript"
        src="{{ asset('bundles/puntoventa/js/venta/adddeleteventaunitaria.js') }}">

</script>
{% endblock %}

{% form_theme ventasUnitarias 'PuntoVentaBundle:Venta:Themes/ventaUnitariaTableTheme.html.twig' %}

<table class="subTable" id="ventasUnitarias">
    <tr>
        <th>Clave Prod.</th>
        <th>Categoria</th>
        <th>Producto</th>
        <th>P. Unit.</th>
        <th>Cantidad</th>
        <th>Importe</th>
    </tr>

    {% for form in ventasUnitarias %}
        <tr class="ventaUnitaria">
            <td>{{ form_widget(form.productoId) }}</td>
            <td>{{ form_widget(form.categoria) }}</td>
            <td>{{ form_widget(form.producto) }}</td>


            <td>{{ form_widget(form.precioUnitario) }}</td>
            <td>{{ form_widget(form.cantidadProducto) }}</td>
            <td>{{ form_widget(form.importe) }}</td>

        </tr>
    {% endfor %}
</table>

 <input id='nuevaVentaUnitaria' type="submit" value="Nuevo" />










