{% block javascripts %}
<script type="text/javascript" src="{{ asset('../web/bundles/puntoventa/js/venta/adddeleteventaunitaria.js') }}">   
  

</script>
{% endblock %}

{% form_theme ventasUnitarias 'PuntoVentaBundle:Venta:Themes/ventaUnitariaTableTheme.html.twig' %}

<table class="subTable" id="ventasUnitarias" data-prototype="{{ form_widget(venta.ventasUnitarias.vars.prototype)|e }}">
    <tr>
        <th>Clave Prod.</th>
        <th>Categoria</th>
        <th>Producto</th>
        <th>P. Unit.</th>
        <th>Cantidad</th>
        <th>Importe</th>
    </tr>

    {% for form in ventasUnitarias %} 
        <tr class="ventaUnitaria"> 
            <td>{{ form_widget(form.productoId) }}</td>
            <td>{{ form_widget(form.categorias) }}</td>
            <td>{{ form_widget(form.producto) }}</td>
            

            <td>{{ form_widget(form.precioUnitario) }}</td>
            <td>{{ form_widget(form.cantidadProducto) }}</td>
            <td>{{ form_widget(form.importe) }}</td>
                
        </tr>   
    {% endfor %}    
</table>

 <input id='nuevaVentaUnitaria' type="submit" value="Nuevo" />










