{% form_theme venta with 'PuntoVentaBundle:Venta:Themes/ventaTotalTheme.html.twig' %}

<table>

    <tr>
    
        <td>
            I.V.A: 
        </td>
            
        <td>
           {{ form_widget(venta.iva) }}
        </td>
        
        
        <td>
            T.C: 
        </td>
            
        <td>
            $ {{ venta.tc.vars.attr.value | number_format(2, '.') }} x 1
        </td>
        
        <td><input id="ventaDolar" type="checkbox" name="isVentaEnDolar">Venta Dolar</td>
    
    </tr>


    <tr> 
        <td> Subtotal:</td>
        <td>{{ form_widget(venta.subtotal) }}</td>
        
        <td>Efectivo:</td>
        <td><input id="efectivo" type="text" class = "numeric-medium-width"  name="venta[efectivo]" /> </td>
        <td><input id="calcularCambio" type="submit" value="Calcular" /> </td>
    
    </tr>

    <tr> 
        <td> I.V.A:</td>
        <td>{{ form_widget(venta.cantidadIva) }}</td>
        
        <td>Cambio:</td>
        <td><input id="cambio" type="text" class = "numeric-medium-width"  name="venta[cambio]" /> </td>
        <td></td>
    </tr>
    
    <tr> 
        
        
        <td>Total:</td>
        <td>{{ form_widget(venta.total) }}</td>
        <td></td>
        <td></td>
        
        
    </tr>
</table>